{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
    <title>Dana Nabulsi | Contact</title>
{% endblock %}

{% block content %}
<section class="c-hero">
    <div class="c-hero__box">
        <div class="o-flexy__block" style="opacity: 1; transform: translateY(0px);">
            <div class="position-wrap">
                <p class="contacts contacts-title"><span class='emoji'>🙋🏻‍♀️</span> Please don't hesitate to reach out! I'd love to talk to you. <span class='emoji'>🙋🏻‍♀️</span></p>
                <table class="js-bounce-in-home">
                    <tr>
                        <td class="contacts contacts-left">full name</td>
                        <td class="contacts contacts-right">dana alnabulsi</td>
                    </tr>
                    <tr>
                        <td class="contacts contacts-left">mobile number</td>
                        <td class="contacts contacts-right">+965 6111 8291</td>
                    </tr>
                    <tr>
                        <td class="contacts contacts-left">whatsapp</td>
                        <td class="contacts contacts-right">+965 6111 8291</td>
                    </tr>
                    <tr>
                        <td class="contacts contacts-left">email address</td>
                        <td class="contacts contacts-right">dnabulsi5@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="td-last contacts contacts-left">country</td>
                        <td class="td-last contacts contacts-right">kuwait</td>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}