{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<title>Dana Nabulsi | Contact</title>
{% endblock %}

{% block content %}
<section class="c-hero">
    <div class="c-hero__box">
        <div class="o-flexy__block" style="opacity: 1; transform: translateY(0px);">
            <div class="position-wrap">

                <p class="contacts page-title">please don't hesitate to reach out! i'd love to talk to you.</p>

                <form method="POST" action="https://formsubmit.co/dc9d695e6977cf0a3cc6959f086941c0"
                    enctype="multipart/form-data">
                    <input type="hidden" name="_captcha" value="false">
                    <input type="hidden" name="_next" value="https://dananabulsi.com/thanks">
                    <input type="hidden" name="_subject" value="New Message from Portfolio!">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="contacts" for="inputEmail4">email address</label>
                            <input type="email" name="email" class="form-control" placeholder="name@example.com">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="contacts" for="inputPassword4">name</label>
                            <input type="name" name="name" class="form-control" placeholder="jane doe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="contacts" for="exampleFormControlTextarea1">message</label>
                        <textarea class="form-control" name="message" rows="3" placeholder="hello dana! 👋"></textarea>
                    </div>
                    <div class="container">
                        <button type="submit" class="btn btn-light">submit</button>
                    </div>
                </form>


                <p class="contacts page-title" style="margin-top:50px">or, you can contact me directly:</p>
                <table>
                    <tr>
                        <td class="contacts contacts-left">full name</td>
                        <td class="contacts contacts-right">dana alnabulsi</td>
                    </tr>
                    <tr>
                        <td class="contacts contacts-left">mobile number</td>
                        <td class="contacts contacts-right">+965 6111 8291</td>
                    </tr>
                    <tr>
                        <td class="contacts contacts-left">whatsapp</td>
                        <td class="contacts contacts-right">+965 6111 8291</td>
                    </tr>
                    <tr>
                        <td class="contacts contacts-left">email address</td>
                        <td class="contacts contacts-right">dnabulsi5@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="td-last contacts contacts-left">country</td>
                        <td class="td-last contacts contacts-right">kuwait</td>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}