<section class="section-div">
    <div class="subsection-div">
        <div class="div-container" style="opacity: 1; transform: translateY(0px);">
            <div class="c-hero__eye-wrap">
                <div class="portrait-container">
                    <img src="{% static 'media/portrait.png' %}" width="500px" height="500px">
                </div>
            </div>
        </div>
        <div class="div-container" style="opacity: 1; transform: translateY(0px);padding-top:50px">
            <h1 class="title">Hi! I’m Dana. <span class="emoji wave">👋🏻</span></h1>
            <h1 class="title">A Junior Software Developer.</h1>
            <p class="title-subtext" style="text-align: left;">I'm into web and software development, with some front-end
                coding and design sprinkled in.</p>
            <p class="title-subtext" style="text-align: left;"><a href='projects' class='projects-github-link'>I've
                    developed a lot of projects. Check them out!</a></p>
        </div>
    </div>
</section>
{% endblock %}